:2015 {
    bind 0.0.0.0
    gzip
    root www.codescalers.com/en
    git {
       repo https://github.com/codescalers/www-codescalers.git
       hook /webhook "zU3687$aJEb6"
       key ~/.ssh/id_rsa
       branch production
       path ../..
       then hugo -s www.codescalers.com
    }
}
